.app {
  display: flex;
  flex-direction: column;
}

.body {
  height: 100vh;
  flex: 1;
  display: flex;
  padding-bottom: 50px;
}

.bottom {
  position: fixed;
  width: 100vw;
  background-color: white;
  z-index: 999;
  bottom: 0;
}