.home-list {
    background-color: #eaeaea;
}

.icon-back {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchHeader {
    position: relative;
    top: -51px;
    width: 345px;
    margin-left: 40px;
}

.housesList{
    width: 100vw;
    height: 100%;
    background-color: white;
    overflow: auto;
}
